 body{
            background: #0f172a !important;
            color: white !important;
        }

        .game-box{
            background: #1e293b !important;
            padding: 30px !important;
            border-radius: 15px !important;
            box-shadow: 0 0 15px rgba(0,0,0,0.5) !important;
        }

        button{
            width: 120px !important;
            margin: 10px !important;
            font-size: 18px !important;
        }

        #result{
            font-size: 22px !important;
            margin-top: 20px !important;
            color: #38bdf8 !important;
        }
